#main_div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#left_div {
    width: 50%;
}

#right_div {
    display: flex;
    justify-content: center;
    width: 50%;
}

#sections {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;
}

#sections > div {
    padding: 30px;
}

.tshirt_img {
    float: left;
}

#tshirt_section_products{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}

#shoes_section_products {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.tshirt_item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.shoes_item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.equip_btn {
    width: 100px;
    background-color: #728dc0;
    color: rgb(12, 12, 143);
}

.equip_btn:hover{
    background-color: #1e3496;
    color: red;
}

.unequip_btn {
    width: 100px;
    background-color: #6f42c1;
    color: yellow;
}

.unequip_btn:hover{
    background-color:#1e3496;
    color: red;
}